<?xml version="1.0" encoding="utf-8" ?>
<configuration>
  
  <appSettings>
    <add key = "exceptions-PrintStack" value = "0" />
    <add key = "exceptions-full-info" value = "0" />
    <add key = "drives" value = "C, D, E" />
    <add key = "current-drive" value = "C" />
  </appSettings>
  
</configuration>